<footer class="py-5 bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-4"><%= settings ? settings.footer.companyName : 'Nhà Sách Online' %></h5>
        <p><%= settings ? settings.footer.description : 'Nơi bạn có thể tìm thấy mọi thể loại sách bạn yêu thích với giá cả hợp lý và dịch vụ chất lượng.' %></p>
        <div class="social-links">
          <a href="<%= settings ? settings.socialLinks.facebook : '#' %>" class="me-2 text-white"><i class="fab fa-facebook-f"></i></a>
          <a href="<%= settings ? settings.socialLinks.twitter : '#' %>" class="me-2 text-white"><i class="fab fa-twitter"></i></a>
          <a href="<%= settings ? settings.socialLinks.instagram : '#' %>" class="me-2 text-white"><i class="fab fa-instagram"></i></a>
          <a href="<%= settings ? settings.socialLinks.youtube : '#' %>" class="text-white"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-4">Liên kết nhanh</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white">Trang chủ</a></li>
          <li class="mb-2"><a href="/books" class="text-white">Sách</a></li>
          <li class="mb-2"><a href="/authors" class="text-white">Tác giả</a></li>
          <li class="mb-2"><a href="/about" class="text-white">Giới thiệu</a></li>
          <li class="mb-2"><a href="/contact" class="text-white">Liên hệ</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-4">Danh mục</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/books?category=sach-giao-khoa" class="text-white">Sách giáo khoa</a></li>
          <li class="mb-2"><a href="/books?category=van-hoc" class="text-white">Văn học</a></li>
          <li class="mb-2"><a href="/books?category=khoa-hoc" class="text-white">Khoa học</a></li>
          <li class="mb-2"><a href="/books?category=kinh-te" class="text-white">Kinh tế</a></li>
          <li class="mb-2"><a href="/books?category=tam-ly" class="text-white">Tâm lý</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 mb-4">
        <h5 class="text-uppercase mb-4">Liên hệ</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> <%= settings ? settings.footer.address : '123 Đường ABC, Quận XYZ, TP. HCM' %></li>
          <li class="mb-2"><i class="fas fa-phone me-2"></i> <%= settings ? settings.footer.phone : '(84) 123 456 789' %></li>
          <li class="mb-2"><i class="fas fa-envelope me-2"></i> <%= settings ? settings.footer.email : 'info@nhasachonline.com' %></li>
          <li class="mb-2"><i class="fas fa-clock me-2"></i> <%= settings ? settings.footer.workingHours : 'Thứ 2 - Thứ 7: 8h - 20h' %></li>
        </ul>
      </div>
    </div>
    
    <hr class="my-4">
    
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0"><%= settings ? settings.footer.copyright : '&copy; 2025 Nhà Sách Online. Tất cả các quyền được bảo lưu.' %></p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <p class="mb-0">
          <a href="<%= settings ? settings.legalLinks.terms : '#' %>" class="text-white me-3">Điều khoản sử dụng</a>
          <a href="<%= settings ? settings.legalLinks.privacy : '#' %>" class="text-white">Chính sách bảo mật</a>
        </p>
      </div>
    </div>
  </div>
</footer>